header {
  height: 90px;
  background-color: #164C81;
  display: flex;
}

header nav {
  display: flex;
  align-items: center;
}

header nav h1 {
  margin: 0px;
  color: #fff;
  margin-left: 20px;
  font-size: 27px;
}
