#pagina04 .boxBlue {
  background-image: url("../img/pagina04/box.webp");
  background-repeat: no-repeat;
  width: 530px;
  height: 356px;
  display: grid;
  justify-content: center;
  padding-bottom: 80px;
}

#pagina04 .title {
  margin-left: 147px;
  padding-bottom: 50px;
}

#pagina04 .principalBox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: initial;
  flex-wrap: wrap;
}

#pagina04 .titleSubtitle .people img {
  float: right;
  margin-top: -70px;
}
#pagina04 .titleSubtitle .location {
  display: flex;
  margin-top: -20px;
}

#pagina04 .titleSubtitle h3 {
  font-size: 20px;
}

#pagina04 .titleSubtitle p {
  font-size: 14px;
  padding-left: 10px;
}

#pagina04 .description {
  width: 429px;
  height: 229px;
}

#pagina04 .description p {
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 620px) {
  #pagina04 .title {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
    font-size: 21px;
    margin-left: 0px;
  }

  #pagina04 .boxBlue {
    width: 298px;
    height: 200px;
    padding-bottom: 250px;
  }
  #pagina04 .titleSubtitle .people img {
    width: 80px;
    margin-top: -50px;
    padding-right: 20px;
  }
  #pagina04 .titleSubtitle .location {
    padding-left: 30px;
  }
  #pagina04 .description{
    width: auto;
    height: auto;
  }
}
