#pagina01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pagina01 .textTitle p {
  text-align: center;
}

#pagina01 .textTitle b {
  color: #164C81;
}

#pagina01 button {
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  #pagina01 .textTitle p {
    font-size: 14px;
  }

  iframe{
    width: 379.5px;
    height: 210px;
  }
}